################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Solution/.vs/Solution/FileContentIndex/2591b76f-feee-4710-b7f6-60a2742f2ade.vsidx
/Solution/.vs/Solution/FileContentIndex/2591b76f-feee-4710-b7f6-60a2742f2ade.vsidx
