################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Solution/.vs/Solution/FileContentIndex/2591b76f-feee-4710-b7f6-60a2742f2ade.vsidx
/Solution/.vs/Solution/FileContentIndex/2591b76f-feee-4710-b7f6-60a2742f2ade.vsidx
Solution/.vs/Solution/FileContentIndex/1b0b442a-37bd-4344-833d-840bf8c3d361.vsidx
*.vsidx
*.cs
*.cache
Solution/.vs/Solution/v17/.suo
Solution/.vs/Solution/v17/DocumentLayout.json
Solution/proiect/bin/proiect.dll
Solution/proiect/bin/proiect.pdb
Solution/proiect/obj/Debug/proiect.csproj.AssemblyReference.cache
Solution/proiect/obj/Debug/proiect.csproj.CoreCompileInputs.cache
Solution/proiect/obj/Debug/proiect.dll
Solution/proiect/obj/Debug/proiect.pdb
Solution/.vs/Solution/v17/.suo
