
@{
    ViewBag.Title = "NewsUserPage";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>Noutati</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8">
</head>

<body>
    <h2>News</h2>
</body>
</html>
