@using System.Web.Optimization
@{
    ViewBag.Title = "About";
}
@model proiect.Models.User.UserLogin

<div class="hero overlay" style="background-image: url('/assets3/images/About-ImagineaPrincipala.png')">
    <div class="container">
        <div class="row align-items-center justify-content-end">
            <div class="col-lg-6 text-right">
                <h1 class="heading text-white mb-2" data-aos="fade-up">Despre noi</h1>
                <p data-aos="fade-up" class=" mb-5 text-white lead text-white">Oferim resurse și suport pentru donatorii actuali și potențiali, asigurându-ne că experiența donării este cât mai simplă și confortabilă posibil.</p>
                <p data-aos="fade-up" data-aos-delay="100">

                </p>

            </div>


        </div>
    </div>
</div>

<div class="section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6" data-aos="fade-up">
                <div class="vision">
                    <h2>Viziunea noastră</h2>
                    <p class="mb-4 lead">este de a crea o comunitate globală unită și angajată, unde actul de a dona sânge devine o normă socială recunoscută și valorizată, un gest cotidian de altruism și responsabilitate față de semeni. </p>
                    <p><a href="#" class="link-underline">Află mai mult</a></p>
                </div>
            </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <div class="mission">
                    <h2>Misiunea noastră</h2>
                    <p class="mb-4 lead">este de a facilita și încuraja donarea de sânge prin educarea comunității, simplificarea procesului de donare și construirea unei rețele de sprijin pentru donatori și beneficiari. </p>
                    <p><a href="#" class="link-underline">Află mai mult</a></p>
                </div>
            </div>
        </div>
    </div>
</div>


<!--
<div class="row">
     <div class="col-md-12">
          <div class="table">
               <table class="table table-bordered">
                    <thead>
                         <tr>Grupa sangvina</tr>
                         <tr>Actiune</tr>
                    </thead>
                    <tbody>



                    </tbody>
               </table>
          </div>
     </div>
</div>
     -->
