
@{
     ViewBag.Title = "Contact";
}

@model proiect.Models.UserData



<div class="hero overlay" style="background-image: url('/assets3/images/Categorii.jpg')">
     <div class="container">
          <div class="row align-items-center justify-content-end">
               <div class="col-lg-6 text-right">
                    <h1 class="heading text-white mb-2" data-aos="fade-up">Grupe sangvine</h1>
                    <p data-aos="fade-up" class=" mb-5 text-white lead text-white">Oferim resurse și suport pentru donatorii actuali și potențiali, asigurându-ne că experiența donării este cât mai simplă și confortabilă posibil.</p>
                    <p data-aos="fade-up" data-aos-delay="100">
                    </p>
               </div>
          </div>
     </div>
</div>

<div class="section flip-section">
     <div class="blob-1">
          <img src="~/assets3/images/blob.png" alt="Image" class="img-fluid">
     </div>
     <div class="container">
          <div class="row justify-content-center mb-5">
               <div class="col-lg-7 text-center" data-aos="fade-up">
                    <span class="subheading-white mb-3 text-white">Categorii</span>
                    <h2 class="heading text-white">Află grupele sangvine</h2>
               </div>
          </div>
     </div>
</div>

@using (Ajax.BeginForm("BloodType", "Home", new AjaxOptions { HttpMethod = "POST", OnSuccess = "success", OnFailure = "fail", UpdateTargetId = "resultTarget" }))
{
     <div class="row">
          @foreach (var bloodType in Model.BloodType)
          {
               <div class="col-lg-3 position-relative" data-aos="fade-up" data-aos-delay="100">
                    <div class="causes-item bg-white">
                         <div class="px-4 pb-3 pt-3">
                              <img src="@Url.Content(bloodType.ImageUrl)" alt="Image" style="width: 100%; height: auto; margin-right: 10px;">
                              <div class="mt-2">@bloodType.Name</div>
                              @Html.Hidden("btn", bloodType.Name)
                              <button class="btn btn-primary btn-xs mt-2" style="width: 100%;" type="submit">View</button>
                         </div>
                    </div>
               </div>
          }
     </div>
}

<div class="section flip-section">
     <div class="blob-1">
          <img src="~/assets3/images/blob.png" alt="Image" class="img-fluid">
     </div>
     <div class="container">
          <div class="row justify-content-center mb-5">
               <div class="col-lg-7 text-center" data-aos="fade-up">
                    <span class="subheading-white mb-3 text-white">Categorii</span>
                    <h2 class="heading text-white">Explorează centrele de donare</h2>
               </div>
          </div>
     </div>
</div>


