@model proiect.Domain.Entities.News.AddNews
@{
    ViewBag.Title = "Edit News";
Layout = "~/Views/Shared/_LayoutHeader.cshtml";

}
<!DOCTYPE html>
<html lang="ro">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Editeaza Noutăți</title>
     <style>
          body {
               font-family: Arial, sans-serif;
               margin: 20px;
          }

          form {
               max-width: 600px;
               margin: 0 auto;
               padding: 20px;
               border: 1px solid #ccc;
               border-radius: 10px;
               background-color: #f9f9f9;
          }

          label {
               display: block;
               margin-bottom: 8px;
               font-weight: bold;
          }

          input[type="text"], textarea, input[type="file"], input[type="datetime-local"] {
               width: 100%;
               padding: 10px;
               margin-bottom: 15px;
               border: 1px solid #ccc;
               border-radius: 5px;
          }

          button {
               padding: 10px 20px;
               background-color: #28a745;
               color: #fff;
               border: none;
               border-radius: 5px;
               cursor: pointer;
          }

               button:hover {
                    background-color: #218838;
               }
     </style>
</head>
<body>
     <br><br><br>
     <h1 class="heading text-black mb-2" data-aos="fade-up" style="font-size: 2em; font-weight: bold; text-align: center;">Editeaza Noutăți</h1>
     <form method="post">

         
          @Html.AntiForgeryToken()

          <label for="title">Titlu:</label>
          @Html.TextBoxFor(m => m.Title)

          <label for="body">Conținut:</label>
          @Html.TextAreaFor(m => m.Body, new { @class = "formbold-form-input", @rows = 9 })


          <button type="submit">Editeaza noutatea</button>
     
</form>

</body>
</html>
