
@{
    ViewBag.Title = "News";
}
<div class="section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="causes-item bg-white">
                    <a href="#"><img src="/assets3/images/News1.png" alt="Image" class="img-fluid mb-4 rounded"></a>
                    <div class="px-4 pb-3 pt-3">
                        <span class="date">May 11, 2020</span>
                        <h3><a href="#">Lansarea Inițiativei #DonațieDeViață</a></h3>
                        <p>Într-o lume în care fiecare picătură contează, inițiativa #DonațieDeViață își propune să aducă în prim-plan importanța donării de sânge și să crească numărul de donatori la nivel național. Lansată astăzi, campania se va desfășura pe parcursul întregului an, având ca obiectiv principal educarea populației cu privire la beneficiile donării de sânge, atât pentru donatori cât și pentru primitorii acestui gest altruist.</p>
                        <p><a href="#" class="d-flex align-items-center more2"><span>Află mai multe</span> <span class="icon-chevron-right"></span></a></p>


                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="causes-item bg-white">
                    <a href="#"><img src="/assets3/images/News2.png" alt="Image" class="img-fluid mb-4 rounded"></a>
                    <div class="px-4 pb-3 pt-3">
                        <span class="date">May 11, 2020</span>
                        <h3><a href="#">Succesul Maratonului de Donare de Sânge din Chișinău</a></h3>
                        <p>Capitala a fost martora unui eveniment remarcabil în weekendul trecut: Maratonul de Donare de Sânge a reușit să adune peste 1.000 de donatori în doar două zile. Organizat în Piața Victoriei, evenimentul a depășit toate așteptările organizatorilor, demonstrând solidaritatea și generozitatea comunității.</p>
                        <p><a href="#" class="d-flex align-items-center more2"><span>Read More</span> <span class="icon-chevron-right"></span></a></p>

                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="causes-item bg-white">
                    <a href="#"><img src="/assets3/images/News3.png" alt="Image" class="img-fluid mb-4 rounded"></a>

                    <div class="px-4 pb-3 pt-3">
                        <span class="date">May 11, 2020</span>
                        <h3><a href="#">Inovație în Procesul de Donare: Aplicația „Donor Mobil”</a></h3>
                        <p>
                            Într-o eră digitală, inovația tehnologică vine în sprijinul cauzelor umanitare. Ministerul Sănătății, în parteneriat cu dezvoltatori de software, a lansat „Donor Mobil”, o aplicație menită să faciliteze procesul de donare de sânge.
                            Aplicația permite utilizatorilor să se înregistreze ca donatori, să găsească cele mai apropiate centre de donare și să își programeze vizitele. De asemenea, „Donor Mobil” oferă informații esențiale despre procesul de donare și beneficiile acestuia. „Este un pas important în modernizarea și eficientizarea sistemului de donare de sânge din România”, a afirmat Dr. Elena Neagu, inițiatoarea proiectului.
                        </p>
                        <p><a href="#" class="d-flex align-items-center more2"><span>Read More</span> <span class="icon-chevron-right"></span></a></p>

                    </div>
                </div>
            </div>




            <div class="row align-items-center py-5">
                <div class="col-lg-3">
                    <!-- Pagination (1 of 10) -->
                </div>
                <div class="col-lg-6 text-center">
                    <div class="custom-pagination">
                        <a href="#">1</a>
                        <a href="#" class="active">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                        <a href="#">5</a>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

